<div style="margin-top: 40px;display: flex;justify-content: center;width: 100%;">
    <div style="width: 50%;">
        <h1>User 1 Notifications</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, laboriosam. Numquam non sunt vel
            tenetur aspernatur eos voluptates delectus vitae dolor autem! Unde dolor quaerat explicabo maiores porro
            inventore quisquam tenetur excepturi ipsam magni, dolores ipsum atque omnis perferendis dolorum maxime
            perspiciatis, fugiat, hic amet. Doloremque error deserunt obcaecati, quasi aspernatur repudiandae voluptate
            aliquid, assumenda eveniet tempore amet laborum corporis, omnis delectus. Dolore fugiat laborum ducimus
            esse, id, molestiae amet et iste quaerat, voluptatem voluptates nisi minus natus vel omnis atque. Id
            adipisci perferendis, cupiditate magnam tempore ut, beatae dolor esse ducimus earum nostrum voluptas
            aspernatur aliquid molestiae eveniet aut vero consectetur eius expedita? Possimus nihil voluptates, porro
            qui officiis amet molestiae soluta consequuntur nulla aperiam necessitatibus blanditiis repudiandae tenetur!
            Excepturi distinctio fugit eaque harum sint a, nesciunt est autem beatae perspiciatis quos cum earum odio
            explicabo ratione neque illum atque officiis, velit sunt vel eveniet quas eum. Dolores similique ad,
            perferendis quisquam mollitia facere! Obcaecati quas consectetur ex quibusdam explicabo quisquam numquam,
            excepturi minus odit eligendi recusandae officiis debitis cumque veniam eos dicta voluptate fugiat?
            Perferendis architecto nostrum quam aperiam possimus commodi, vitae temporibus illum ducimus sunt
            praesentium. Temporibus necessitatibus distinctio voluptate recusandae placeat ab a optio eum? Nulla
            voluptate omnis sequi, aspernatur exercitationem iste sit, animi tempore a maxime laudantium laborum alias?
            Quos natus id unde magni consequuntur! Cumque impedit quibusdam repudiandae suscipit, ea magni, quia minima
            ratione accusamus non et rerum? Autem vitae iure rem culpa quis suscipit nam quos. Dolores eos eveniet
            nostrum assumenda eaque veritatis quis maxime dolorem sequi quae. Esse tempora voluptatem aut? Eveniet harum
            delectus animi fuga, quidem ex alias magni dolorem quas quaerat libero placeat, pariatur quae, id architecto
            aliquam tempora enim! Culpa quasi impedit dolorum aliquid aliquam incidunt? Ut error, eum, recusandae fugiat
            a mollitia at aperiam iure, voluptatem accusantium dignissimos!
        </p>
    </div>

</div>